@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&display=swap');

$txt-color: #3a7efc;
$fnt: 'Mulish', sans-serif;
$bg: #2935a3;
$tran: all .4s;