<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  {{>navbar}}
    <!-- navbar---------------------------------------ends---------------------------------------------------------------------- -->

    <!-- main----------------------starts------------------------------------- -->
    <div class=" container-fluid">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                    <div class="col-12 col-md-6 header_left">
                        <p class="heading">WeatherApp <span>v2.0</span></p>
                        <h1 class="text-capitalize">Get the latest <span>weather</span> information of your city</h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <div class="col-12 col-md-6 header_right">
                      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/bg (1).svg" class=" w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="images/bg (2).svg" class=" w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="images/bg (3).svg" class=" w-100" alt="...">
                          </div>
                        </div>
                        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button> -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main----------------------ends------------------------------------- -->
    <!-- footer--------------------starts------------------------------------------------ -->

    {{>footer}}


    <!-- footer--------------------ends------------------------------------------------ -->
    <!-- script cdn--starts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- script cdn--ends -->

</body>
</html>