<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  {{>navbar}}
    <!-- navbar---------------------------------------ends---------------------------------------------------------------------- -->

    <!-- main----------------------starts------------------------------------- -->
    <div class=" container-fluid">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto">
              <div class="main_content">
                  <form class="temp_form">
                      <input type="text" id="cityName" placeholder="Enter your city name.." autocomplete="off">
                      <input type="submit" value="Search" id="submit">
                  </form>
              </div>
              <div class="tempInfo">
                  <div class="top_layer">
                      <p id="day" class="text-uppercase"></p>
                      <p id="data" class="text-uppercase"></p>
                  </div>
                  <div class="main_layer">
                      <p id="city_name" class="text-capitalize"></p>
                      <div class="middle_layer">
                          <p id="temp"></p>
                          <p id="temp_status"></p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <!-- main----------------------ends------------------------------------- -->
    <!-- footer--------------------starts------------------------------------------------ -->

    {{>footer}}

    <script src="script/script.js"></script>
    <!-- footer--------------------ends------------------------------------------------ -->
    <!-- script cdn--starts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- script cdn--ends -->

</body>
</html>